# Build/QQ artifacts
.coverage.*
dist/
*.egg-info/
.mypy_cache/
__pycache__/
.pytest_cache/

# Docs
docs/_build/
reference_package*.rst
docs/modules.rst
docs/**/*.pickle

# Env
.env

# Workflows
.github/workflows/CI_CD_act.yml