[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.mypy]
[[tool.mypy.overrides]]
# Remove once we've added stubs for comb_utils.
module = "comb_utils.*"
ignore_missing_imports = true